<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet"
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
        title Document
    body
    // My wonderful navbar
nav.navbar.navbar-inverse.container-fluid(role="navigation")(style="padding-left: 100px")
    ul.nav.navbar-nav
      li
        a(href='/') Home
      li
        a(href='/services') Our services
      li.active
        a(href='/contact') Contact us
          
.container
  h2 Contact us
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit at quae exercitationem vitae laborum ipsam ea ut veniam harum non.
