<!DOCTYPE html>
html(lang="en")
    head
        link(rel="stylesheet", href="style.css")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet"
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
        title Document
    body
    // My wonderful navbar
nav.navbar.navbar-inverse.container-fluid(role="navigation")(style="padding-left: 100px")
    ul.nav.navbar-nav
      li
        a(href='/') Home
      li.active
        a(href='/services') Our services
      li
        a(href='/contact') Contact us
          
.container
  h2 Our services
  div.services
    div.service
      h3 Service 1
      p.txt-service Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque sequi tempore inventore, nisi, error commodi ratione quo impedit enim non, ullam nulla ex corrupti nesciunt. Illo optio mollitia amet a.
    div.service
      h3 Service 2
      p.txt-service Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum quis autem cum repellendus, sequi, quidem incidunt sapiente itaque cupiditate asperiores corrupti alias odit dolorem nihil error beatae inventore a maxime quae mollitia aspernatur aut! Distinctio, autem? Voluptatum laudantium aliquam, nulla adipisci magnam quis iusto rem, optio incidunt perspiciatis pariatur eveniet.
